html { 
  background-color: #3D9999;
  background: 
  linear-gradient(#dddfd4, transparent 8%),
  linear-gradient(0deg, #dddfd4, transparent),
  url(../img/lights.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

#Biosection,#Photossection,#Reviewssection,#Contactsection {
    margin: 0 6em 3em 3em;
    padding: 0 3em 0 0;
}

#wrapper {
     margin: 0 auto;
     font-family: 'Roboto Condensed', sans-serif;
}
   
#nav {    
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
}

#nav li {
    list-style: none;
    margin: 5% 7% 5% 5%;
    background: #26332D;
    opacity: .88;
    color:#dddfd4;
    font-size:1.2em;
    text-decoration:none;
    padding: .2em;
    border-radius:7px;
}

#nav a{
 text-decoration:none;   
}

#nav .active li{
    color: #26332d;
    background: #dddfd4;
    opacity:.88;
}

body {
    margin-bottom: 2em;
}

h2,h3 {
    background: #26332D;
    opacity: .88;
    color:#dddfd4;
    margin: 0 0 .6em 0;
    padding: .2em 0;
    text-align:center;
    border-radius: 10px;
}

aside {
    background: #26332D;
    opacity: .88;
    color:#dddfd4;
    margin: 0 0 .6em 0;
    padding: 0;
    text-align:center;
    border-radius: 10px;
}

#Biosection div {
    background: #26332D;
    opacity: .88;
    color:#dddfd4;
    padding: 5% 5%;
    border-radius:10px;
}

#reviewblocks p {
    float:left;
    width: 45%;
    background: #26332D;
    opacity: .88;
    color:#dddfd4;
    padding: 02.5% 2.5%;
    margin:2%;
    border-radius: 7px;
}

#bioimg {
    width:20%;
    height:auto;
    border-radius:100%;
    float:left;
    opacity:.98;
    padding: 20px;
    shape-outside: circle();
}

#Titlediv {
 font-size: 1.6em;
 font-family: 'Roboto', sans-serif;
 padding: 0% 2% 30% 2%;
 margin: 0% 0 20% 0;
}


/*photo section hover*/

article{
  float:left;
  width:45%;
  margin:2.5%;
  /*border-style:solid;*/
  /*border-width: .5em;*/
  /*border-color:#26332D;*/
}

.caption {
    position: relative;
    overflow: hidden;
   
}
.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    
}
.caption__overlay {
    background: rgba(38,51,45,.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .7em;
    color: rgba(255,255,255,.9);
    transform: translateY(100%);
    transition: transform .35s ease-out;
}

.caption__overlay h1{
    color:#dddfd4;
    font-size: 1.5em;
}


.caption:hover .caption__overlay {
    transform: translateY(0%);
}
 

h1 {
    text-shadow: 3px 3px 18px #dddfd4;
    color:#26332D;
}

.clear {
    clear:both;
    display: inline-block;
}

#Contactsection form{
    text-align:center;
}

footer div {
    width:100%;
    height:50px;
}


/* unvisited link */
a:link {
    color: #dddfd4;
}

/* visited link */
a:visited:not(.active) {
    color: #dddfd4;
}

/* mouse over link */
#nav a:hover: {
    font-size: 1.05em;
    color: #efffe5;
}



/*Lightbox stylie*/
#overlay {
  background:rgba(98,98,98,0.8);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:none;
  text-align:center;
  overflow-y: scroll;
}

#overlay img {
 margin: 1em;
}


#overlay p {
 color:white; 
}

#overlay ul{
    list-style:none;
}


@media only screen and (max-width: 680px) {
    #nav {
        position: fixed;
        z-index: 500;
        width: 100%;
        height: auto;
        background: #26332D;
        opacity: .88;      
        text-align:center;
    }
    
    #nav li {
        display:inline-block;
        background: #26332D;
        opacity: .88;
        margin:.1em 0;
        padding:.48em 2em;
        font-size: 1em;
    }
    #nav ul {
        padding:0;
        margin:0;
        width:100%;
    }


#nav .active li{
    border-radius: 5px;
}
    article {
         width: 100%;
        }

    #Biosection,#Photossection,#Reviewssection,#Contactsection {
    margin: 0;
    padding: 2em;
    }
    
    #Titlediv {
     margin:1.2em 0 4em 0;
     text-align:center;
    }
}

@media only screen and (max-width: 501px) {
        #nav {
        position: fixed;
        z-index: 500;
        width: 100%;
        height: auto;
        background: #26332D;
        opacity: .88;      
        text-align:center;
    }
    
    #nav li {
        display:inline-block;
        background: #26332D;
        opacity: .88;
        margin:.1em 0;
        padding:.38em .8em;
        font-size: 1em;
    }
    #nav ul {
        padding:0;
        margin:0;
        width:100%;
    }


#nav .active li{
    border-radius: 5px;
}
    
}

