
html { 
  background-color: #3D9999;
  background: 
  linear-gradient(#dddfd4, transparent 7%),
  linear-gradient(0deg, #dddfd4, transparent),
  url(../img/lights.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrapper {
     width: 100%;
     margin: 0 auto; 
}
   
#nav {    
    position: fixed;
    top: 0;
    right: 0;
    font: #dddfd4 6em;
    text-decoration: none;
    display: inline-block;
    list-style: none;
    text-align: center;
}

#nav li {
    list-style: none;
    display: block;
    padding: 0 5% 0 5%;
    margin: 5% 7% 5% 0%;
    background: #26332D;
    font-family: 'Roboto Condensed', sans-serif;
}
p {
    color: #fff;
}

h2 span {
    color: #fff;
    text-align: center;
}

@media (max-width: 960px)
{header nav {
    display: inline;
    position: fixed;
    padding: 5px 0px;
    font: #fff 7em;
    }
}

#Bio div, #Reviews div, #Photos div {
    background: #26332D;
    color:#dddfd4;
    padding: 5% 5%;
    max-width:80%;
    border-radius:10%;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
}

#Title {
 font-size: 1.6em;
 font-family: 'Roboto', sans-serif;
 padding: 0% 2% 30% 2%;
 margin: 0% 0 20% 0;
}


h1 {
    text-shadow: 4px 4px 15px #dddfd4;
}

#gallery img {
    max-width: 45%;
    margin: 2.5%;
    list-style: none;
    float: left;
}

/* unvisited link */
a:link {
    color: #dddfd4;
}

/* visited link */
a:visited {
    color: #dddfd4;
}

/* mouse over link */
a:hover {
    color: #dddfd4;
    font-size: 1.5;
}

/* selected link */
a:active {
    color: #0000FF;
}