html { 
  background-color: #3D9999;
  background: 
  linear-gradient(#dddfd4, transparent 8%),
  linear-gradient(0deg, #dddfd4, transparent),
  url(../img/lights.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#Biosection,#Photossection,#Reviewssection,#Contactsection {
    width: 84%;
    margin: 0 3em 3em 3em;
    border: 0 2em 3em 0;
}

#wrapper {
     margin: 0 auto;
     font-family: 'Roboto Condensed', sans-serif;
}
   
#nav {    
    position: fixed;
    top: 0;
    right: 0;
    font: #dddfd4 6em;
    text-decoration: none;
    display: inline-block;
    list-style: none;
    text-align: center;
}

#nav li {
    list-style: none;
    display: block;
    /*padding: 0 5% 0 5%;*/
    margin: 5% 7% 5% 5%;
    background: #26332D;
    font-size:1.1em;
}


body {
    margin-bottom: 2em;
}

#Biosection div {
    background: #26332D;
    opacity: .88;
    color:#dddfd4;
    padding: 5% 5%;
    border-radius:10px;
}

#reviewblocks p {
    float:left;
    width: 45%;
    background: #26332D;
    opacity: .88;
    color:#dddfd4;
    padding: 2.5% 2.5%;
    border: 2.5%, 2.5:
    border-radius:5px;
}

#bioimg {
    width:20%;
    height:auto;
    border-radius:100%;
    float:left;
    opacity:.98;
    padding: 20px;
    shape-outside: circle();
}

#Titlediv {
 font-size: 1.6em;
 font-family: 'Roboto', sans-serif;
 padding: 0% 2% 30% 2%;
 margin: 0% 0 20% 0;
}


/*photo section hover*/
article{
  float:left;
  width:45%;
  margin:2.5%;
}
.caption {
    position: relative;
    overflow: hidden;
   
}
.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    
}
.caption__overlay {
    background: rgba(0,0,0,.35);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .7em;
    color: white;
    font-size: 1em;
    transform: translateY(100%);
    transition: transform .35s ease-out;
}
.caption:hover .caption__overlay {
    transform: translateY(0%);
}
 
    




h1 {
    text-shadow: 3px 3px 18px #dddfd4;
}

.clear {
    clear:both;
    display: inline-block;
}

#Reviewssection p {
    padding: 2% 0;
}



#Contactsection form{
    padding: 0 0 0 20%;
    text-align:center;
}

footer div {
    width:100%;
    height:50px;
}


/* unvisited link */
a:link {
    color: #dddfd4;
}

/* visited link */
a:visited:not(.active) {
    color: #dddfd4;
}

/* mouse over link */
a:hover: {
    font-size: 1.05em;
    color: #efffe5;
}

#nav .active{
    color: #26332d;
    background: #dddfd4;
}

#nav li .active {
    display: block;
    background: #dddfd4;
}

/*Lightbox stylie*/
#overlay {
  background:rgba(98,98,98,0.8);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:none;
  text-align:center;
  overflow-x: scroll;
}

#overlay img {
 max-width:45%;
 margin: 1em;
}


#overlay p {
 color:white; 
}

#overlay ul {
    display: flex;
}

@media (max-width: 960px)
{header nav {
    display: inline;
    position: fixed;
    top: 0;
    padding: 5px 0px;
    font: #fff 7em;
    border-radius:7px;
    }
}