@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

#Biosection,#Photossection,#Reviewssection,#Contactsection {
    margin: 0 6em 3em 3em;
    padding: 0 3em 0 0;
    width:80%;
}

#wrapper {
     margin: 0 auto;
     font-family: 'Roboto Condensed', sans-serif;
}
   
#nav {    
    position: fixed;
    top: 0;
    right: 0;
}

#nav li {
    list-style: none;
    margin: .6em;
    background: #26332D;
    opacity: .88;
    color:#dddfd4;
    font-size:1.2em;
    text-decoration:none;
    padding: .34em .4em .34em 2.5em;
    border-radius:7px;
    text-align:right;
}

#nav a{
 text-decoration:none;   
}

#nav .active li{
    color: #26332d;
    background: #dddfd4;
    opacity:.88;
}

body {
    margin-bottom: 2em;
}

h2,h3 {
    background: #26332D;
    opacity: .88;
    color:#dddfd4;
    margin: 0 0 .6em 0;
    padding: .2em 0;
    text-align:center;
    border-radius: 10px;
}

aside {
    background: #26332D;
    opacity: .88;
    color:#dddfd4;
    margin: 0 0 .6em 0;
    padding: 0;
    text-align:center;
    border-radius: 10px;
}

#Biosection div {
    background: #26332D;
    opacity: .88;
    color:#dddfd4;
    padding: 5% 5%;
    border-radius:10px;
}

#reviewblocks p {
    display:inline-block;
    width: 45%;
    background: #26332D;
    opacity: .88;
    color:#dddfd4;
    padding: 2.5%;
    margin: 2%;
    border-radius: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align:top;
}
#reviewblocks a {
    font-style:italic;
    color:#ddddc3;
}
#bioimg {
    width:20%;
    height:auto;
    border-radius:100%;
    float:left;
    opacity:.98;
    padding: 20px;
    shape-outside: circle();
}
#Titlediv {
 font-size: 1.6em;
 font-family: 'Roboto', sans-serif;
 padding: 0% 0% 30% 0%;
 margin: 0% 0 20% 0;
}

#Photossection article {
    box-shadow:0 0 3px 7px #333333;
    background:#26332D;
}


/*photo section hover*/

article{
  float:left;
  width:45%;
  margin:2.5%;
}

.caption {
    position: relative;
    overflow: hidden;
   
}
.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    
}
.caption__overlay {
    background: rgba(38,51,45,.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .7em;
    color: rgba(255,255,255,.9);
    transform: translateY(100%);
    transition: transform .35s ease-out;
}
.caption__overlay h1{
    color:#dddfd4;
    font-size: 1.5em;
}
.caption:hover .caption__overlay {
    transform: translateY(0%);
}
 
h1 {
    text-shadow: 3px 3px 18px #dddfd4;
    color:#26332D;
}
.clear {
    clear:both;
    display: inline-block;
}
#Contactsection form{
    width:45%;
    text-align:center;
}
#linkedin {
    width:45%;
    display:inline-block;
    vertical-align:top;
    float: right;
    color:#333333;
}
#linkedin p{
    display:inline-block;
    padding: 0 0 1em 1em;
    vertical-align:top;
}
footer div {
    width:100%;
    height:50px;
}
a:link {
    color: #dddfd4;
}
a:visited:not(.active) {
    color: #dddfd4;
}
#nav li:hover {
    color: #ffffe5;
}
#reviewblocks a:hover {
    color: #ffffe5;
}

/*Lightbox stylie*/
#overlay {
  background:rgba(98,98,98,0.8);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:none;
  text-align:center;
  overflow-y: scroll;
}
#overlay img {
    margin: 1em;
    max-width:80%;
    box-shadow:0 0 4px 6px #333333;
    background: #333333;
}
#overlay p {
    color:white; 
}
#overlay ul{
    list-style:none;
}


@media only screen and (max-width: 680px) {
    #nav {
        position: fixed;
        z-index: 500;
        width: 100%;
        height: auto;
        background: #26332D;
        text-align:center;
    }
    #nav li {
        display:inline-block;
        background: #26332D;
        margin:.1em 0;
        padding:.48em 2.5em;
        font-size: 1em;
    }
    #nav ul {
        padding:0;
        margin:0;
        width:100%;
    }
    #nav .active li{
        border-radius: 5px;
    }
    article {
        width: 100%;
        margin: .4em 0;
    }
    #linkedin{
        display:block;
        width:100%;
        margin: 2em;
        
    }
    #Titlediv {
         margin:1.2em 0 4em 0;
         text-align:center;
    }
    #reviewblocks p {
        display:inline-block;
        width: 95%;
        padding: 2.5%;
        margin: 2%;
        border-radius: 7px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align:top;
        text-align:center;
    }

}

@media only screen and (max-width: 501px) {
    #nav {
        position: fixed;
        z-index: 500;
        width: 100%;
        height: auto;
        background: #26332D;
        text-align:center;
    }
    #nav li {
        display:inline-block;
        background: #26332D;
        margin:.1em 0;
        padding:.4em 1.1em;
        font-size: 1em;
    }
    #nav ul {
        padding:0;
        margin:0;
        width:100%;
    }
    #nav .active li{
        border-radius: 5px;
    }
    #Titlediv {
         font-size: .85em;
         width:100%;
         margin: 1.7em 0 15em 0;
         box-sizing: border-box;
         padding: 0;
    }
    #Headersection {
      background-color: #dddfd4;
      background: 
          linear-gradient(#dddfd4, transparent 50%),
          linear-gradient(0deg, #dddfd4, transparent 40%),
          url(../img/lights.jpg) no-repeat center center; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
      background-size: cover;
    }
    #Biosection,#Photossection,#Reviewssection,#Contactsection{
        width:100%;
        box-sizing: border-box;
        margin: 1em 0;
        padding:0;
        text-align:center;
    }
    #bioimg {
        width:35%;
    }
    #Contactsection form {
        width: 100%;
    }
    html { 
      background: #dddfd4;
    }
}

@media only screen and (max-width: 845px) and (min-width: 680px) {
    #Biosection,#Photossection,#Reviewssection,#Contactsection {
        width:73%;
    }
}

@media only screen and (min-width: 502px) {
    html { 
      background-color: #dddfd4;
      background: 
          linear-gradient(#dddfd4, transparent 8%),
          linear-gradient(0deg, #dddfd4, transparent),
          url(../img/lights.jpg) no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
      background-size: cover;
    }
}