html { 
  background-color: #3D9999;
  background: 
  linear-gradient(#dddfd4, transparent 8%),
  linear-gradient(0deg, #dddfd4, transparent),
  url(../img/lights.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrapper {
     width: 85%;
     margin: 0 auto;
     font-family: 'Roboto Condensed', sans-serif;
}
   
#nav {    
    position: fixed;
    top: 0;
    right: 0;
    font: #dddfd4 6em;
    text-decoration: none;
    display: inline-block;
    list-style: none;
    text-align: center;
}

#nav li {
    list-style: none;
    display: block;
    padding: 0 5% 0 5%;
    margin: 5% 7% 5% 0%;
    background: #26332D;
    font-family: 'Roboto Condensed', sans-serif;
}


p {
    color: #fff;
}

h2 span {
    color: #fff;
    text-align: center;
}

@media (max-width: 960px)
{header nav {
    display: inline;
    position: fixed;
    top: 0;
    padding: 5px 0px;
    font: #fff 7em;
    border-radius:7px;
    }
}
body {
    margin-bottom: 2em;
}
#Biosection div {
    width: 80%;
    background: #26332D;
    opacity: .88;
    color:#dddfd4;
    padding: 5% 5%;
    border-radius:10px;
    font-family: 'Roboto Condensed', sans-serif;
}

#Reviewssection div {
    /*width: 80%;*/
    font-family: 'Roboto Condensed', sans-serif;
}
#reviewblocks p {
    float:left;
    width: 45%;
    background: #26332D;
    opacity: .88;
    color:#dddfd4;
    /*padding: 2.5% 2.5%;*/
    border: 2.5%, 2.5:
    border-radius:5px;
}

#bioimg {
    width:20%;
    height:auto;
    border-radius:100%;
    float:left;
    opacity:.98;
    padding: 20px;
    shape-outside: circle();
}

#Titlediv {
 font-size: 1.6em;
 font-family: 'Roboto', sans-serif;
 padding: 0% 2% 30% 2%;
 margin: 0% 0 20% 0;
}



h1 {
    text-shadow: 3px 3px 18px #dddfd4;
}

.clear {
    clear:both;
    display: inline-block;
}

#Reviewssection p {
    padding: 2% 0;
}



#Contactsection form{
    padding: 0 0 0 20%;
    text-align:center;
}

footer div {
    width:100%;
    height:50px;
}


/* unvisited link */
a:link {
    color: #dddfd4;
}

/* visited link */
a:visited:not(.active) {
    color: #dddfd4;
}

/* mouse over link */
a:hover: {
    font-size: 1.05em;
    color: #efffe5;
}

#nav .active a {
    color: #26332d;
}

#nav .active {
    background: #dddfd4;
}
/*Lightbox stylie*/
#overlay {
  background:rgba(98,98,98,0.8);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:none;
  text-align:center;
  overflow-x: scroll;
}

#overlay img {
 max-width:45%;
}

#overlay p {
 color:white; 
}