html { 
  background-color: #3D9999;
  background: 
  linear-gradient(#3D9999, transparent 10%),
  linear-gradient(0deg, #FFE066, transparent),
  url(lights.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
   
#nav {    
    position: fixed;
    top: 0;
    right: 0;
    font: #fff 6em;
    text-decoration: none;
    display: inline-block;
    list-style: none;
    text-align: center;
}

#nav li {
    list-style: none;
    display: block;
    padding: 0 5% 0 5%;
    margin: 5% 0;
    background: #424eee;
}
p {
    color: #fff;
}

h2 span {
    color: #fff;
    text-align: center;
}

/*@media (max-width: 960px)*/
/*{header nav {*/
/*    display: inline;*/
/*    position: fixed;*/
/*    padding: 5px 0px;*/
/*    font: #fff 7em;*/
/*    }*/
/*}*/



body section {
    width: 70%;
    margin: 15%;
}

#Bio, #Reviews h2{
    background: #6E254A;
}

#Title {
 font-size: 1.5em;
 padding: 0% 2% 30% 2%;
 margin: 0% 0 20% 0;
}

h1 {
    text-shadow: 0px 10px 8px #6E254A;
}

#gallery img {
    max-width: 45%;
    margin: 2.5%;
    list-style: none;
    float: left;
}

/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}